/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
  text-align: center;
}


/* OUTPUT STYLIG */


 #output{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

}

.brandContainer{
width: 25%;
height: auto;
margin: 10px;
border: 2px solid black;
}

.brand{
  background-color: blueviolet;
  color: white !important;
  text-align:center ;
  font-size: 50px;
}

.models{
  /* background-color: brown; */
  font-size: 40px;
  text-align: left;
  width: 100%;
  list-style-position: inside;
  padding-left: 20px;
  
}

@media screen 
 and (max-device-width: 480px) 
 and (min-device-width: 0px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  .brandContainer{
    width: 45%;
    height: auto;
    margin: 10px;
    border: 2px solid black;
    }
}